---
import { cn } from '../../utils/css';

export interface Props {
  content: string;
  position?: 'top' | 'bottom' | 'left' | 'right';
  delay?: number;
  className?: string;
}

const { content, position = 'top', delay = 0, className } = Astro.props;

const positionClasses = {
  top: 'bottom-full left-1/2 -translate-x-1/2 mb-2',
  bottom: 'top-full left-1/2 -translate-x-1/2 mt-2',
  left: 'right-full top-1/2 -translate-y-1/2 mr-2',
  right: 'left-full top-1/2 -translate-y-1/2 ml-2',
};

const arrowClasses = {
  top: 'top-full left-1/2 -translate-x-1/2 border-t-gray-900 dark:border-t-gray-700 border-x-transparent border-b-transparent',
  bottom:
    'bottom-full left-1/2 -translate-x-1/2 border-b-gray-900 dark:border-b-gray-700 border-x-transparent border-t-transparent',
  left: 'left-full top-1/2 -translate-y-1/2 border-l-gray-900 dark:border-l-gray-700 border-y-transparent border-r-transparent',
  right:
    'right-full top-1/2 -translate-y-1/2 border-r-gray-900 dark:border-r-gray-700 border-y-transparent border-l-transparent',
};
---

<div
  class={cn('tooltip-wrapper relative inline-block', className)}
  data-tooltip-delay={delay}
>
  <slot />
  <div
    role="tooltip"
    class={cn(
      'tooltip-content absolute z-50 px-2 py-1 text-xs font-medium text-white bg-gray-900 dark:bg-gray-700 rounded shadow-lg',
      'opacity-0 invisible transition-all duration-200 pointer-events-none',
      'group-hover:opacity-100 group-hover:visible',
      positionClasses[position]
    )}
  >
    {content}
    <span class={cn('absolute border-4', arrowClasses[position])}></span>
  </div>
</div>

<style>
  .tooltip-wrapper {
    @apply group;
  }

  .tooltip-wrapper:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
  }

  .tooltip-wrapper[data-tooltip-delay]:hover .tooltip-content {
    transition-delay: var(--tooltip-delay, 0ms);
  }
</style>
